In [ ]:
Celcius to Fahrenheit

In [3]:
C = float(input("Enter the Temperature"))
F = float ((C * 1.8) + 32)         

print ("Your Temperature in F is :", F)

Enter the Temperature 45

Your Temperature in F is : 113.0

In [ ]:
Celcius to kelvin

In [4]:
C = float(input("Enter your Temperature"))
K = float( C + 273.15 )
print ("Your Temperature in K is :", K)

Enter your Temperature 22

Your Temperature in K is : 295.15

In [ ]:
Kilometres to Metres

In [6]:
km = float(input("Enter your distance"))
m = float( km * 1000 )
print ("Your distance in m is : ", m)

Enter your distance 55

Your distance in m is :  55000.0

In [ ]:
Days to seconds

In [1]:
days = float(input("Enter your value in days"))
sec = float(days * 86400)
print ("Your value in seconds is : ", sec)

Enter your value in days 44

Your value in seconds is :  3801600.0